body{
    background-image:url("../images/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

.maybe{
  display: inline-block;
  text-align: justify;
  justify-content: space-between;
  object-position: right;
}

.aboutmepic{
  max-width: 88%;
  height: auto;
}

.copycolor{
  color:rgb(43, 44, 45);
}

.tableautext{
  text-align: center;
}

.tabfoot{
  text-align: center;
}

.instabutton{
  text-align: center;
}

.captionyah{
  text-align: center;
}

.captionyeah{
  text-align: center;
  color: rgb(99, 143, 173);
}